.game-play{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    padding: 0 2rem;
    position: relative;
    background-image: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
    /* background-image: linear-gradient(120deg, #f6d365 0%, #fda085 100%); */
}   
.main-game-board{
    height: 67vh;
    background-color: rgba(255, 255, 255, 0.384);
    backdrop-filter: blur(3px);
    aspect-ratio: 1/1;
    position: relative;
}   
.main-game-board .block-row{
    position: absolute;
    background-image: radial-gradient( circle farthest-corner at 17.1% 22.8%,  rgba(226,24,24,1) 0%, rgba(160,6,6,1) 90% );
    /* background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(249,232,51,1) 0%, rgba(250,196,59,1) 100.2% ); */
    backdrop-filter: blur(3px);
}
.main-game-board .block-row.top{
    top: -13.4vh;
    left: -13.2vh;
}
.main-game-board .block-row.right{
    right: -13.5vh;
    top: -13.4vh;
}
.main-game-board .block-row.left{
    left: -13.2vh;
}
.main-game-board .block-row.bottom{
    bottom: -13.4vh;
}
.main-game-board .block-row.top > div:nth-child(1){
    border-top-left-radius: 10px;
}
.main-game-board .block-row.right > div:nth-child(1){
    border-bottom-right-radius: 10px;
}
.main-game-board .block-row.bottom > div:last-child{
    border-bottom-right-radius: 10px;
}
.main-game-board .block-row.left > div:last-child{
    border-bottom-left-radius: 10px;
}
.main-game-board .block-row.right .game-board-block{
    transform: rotate(-90deg);
}
.main-game-board .block-row.left .game-board-block{
    transform: rotate(90deg);
}
.main-game-board .game-center-container{
    height: 100%;
    overflow: hidden;
}
.game-board-block{
    /* background-color: rgba(0, 128, 0, 0.453); */
    height: 13.4vh;
    border: 0.001rem solid rgba(255, 79, 79, 0.466);
    aspect-ratio: 1/1;
    padding: 0.4rem;
    overflow: hidden;
}
.game-board-block:hover{
    cursor: pointer;
        border: 1px solid #ffffff44;
        box-shadow: 0 7px 20px 2px #d5d4d4aa;
        transform: scale(1.015);
        filter: brightness(1.3);
}
.game-board-block::before{
    filter: brightness(.5);
    top: -100%;
    left: 200%;
  }


.piece{
    position: absolute;
    width: 20px;
    border-radius: 50%;
    aspect-ratio: 1/1;
    background-color: rgba(255, 255, 255, 0.9);
    box-shadow: 1px 4px 5px 1px rgba(25,25,25,0.8);
    cursor: pointer;
}
.piece > span {
    color: orange;
    font-size: 0.7rem;
}
.piece:hover > span{
    font-weight: bold;
}
.game-board-block .players-piece{
    padding: 3rem;
    position: absolute;
}
.game-board-block .players-piece.four .piece:nth-child(1){
    left: 15%;
    top: 15%;
}
.game-board-block .players-piece.four .piece:nth-child(2){
    left: 15%;
    bottom: 15%;
}
.game-board-block .players-piece.four .piece:nth-child(3){
    right: 15%;
    top: 15%;
}
.game-board-block .players-piece.four .piece:nth-child(4){
    right: 15%;
    bottom: 15%;
}
.game-board-block .players-piece.triple .piece:nth-child(1){
    top: 40%;
    left: 10%;
}
.game-board-block .players-piece.triple .piece:nth-child(2){
    top: 40%;
    left: 40%;
}
.game-board-block .players-piece.triple .piece:nth-child(3){
    top: 40%;
    left: 70%;
}
.game-board-block .players-piece.single .piece{
    top: 43%;
    left: 40%;
}
.game-board-block .players-piece.double .piece:nth-child(1){
    left: 15%;
    top: 40%;
}
.game-board-block .players-piece.double .piece:nth-child(2){
    right: 15%;
    top: 40%;
}
.game-board-block.ticket{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.8rem;
}
.game-board-block.start{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transform: rotate(0deg) !important;
    gap: 0.3rem;
}
.city-name{
    color: white;
}
.ticket-price{
    color: white;
    font-size: 0.9rem;
}
.bar{
    background-color: orange;
    width: 100%;
    height: 5px;
    border-radius: 10px;
    transform: rotate(-5deg);
}
.game-inner-container{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 0.8rem;
    gap: 1.35rem;
}
.game-instruction{
    background-color: rgba(255, 255, 255, 0.479);
    border-radius: 8px;
    padding: 0.4rem;
    box-shadow: 0 0 5px 1px rgba(150,150,150,0.2);
    aspect-ratio: 1/1;
    width: 46%;
    cursor: pointer;
}
.game-instruction > header{
    gap: 0.4rem;
}
.game-instruction > header > p{
    font-size: 0.8rem;
}
.player-stats-container{
    padding: 1rem;
    border-radius: 15px;
    width: 22%;
    height: 96%;
    box-shadow: 1px 1px 15px 1px rgba(150,150,150,0.4);
    /* border: 2px solid transparent; */
    background-color: rgba(255, 255, 255, 0.352);
    backdrop-filter: blur(3px);
    justify-content: space-between;
}
.player-stats-container.active-player{
    
    /* border: 2px solid rgb(45, 192, 45); */
    /* background-image: radial-gradient( circle 763px at 18.3% 24.1%,  rgba(255,249,137,1) 7.4%, rgba(226,183,40,1) 58.3% );
    background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(249,232,51,1) 0%, rgba(250,196,59,1) 100.2% ); */
    box-shadow: 0px 0px 5px 2px white ;
}
.dice-container{
    margin-bottom: 30%;
}
.statistics header{
    /* background-color: rgba(255, 0, 0, 0.688); */
    gap: 0.7rem;
    letter-spacing: 1px;
}
.statistics header span{
    font-size: 0.9rem;
    letter-spacing: 2px;
}
.statistics header .remeaning{
    color: green;
}
.statistics header .expense{
    color: red;
}
.statistics header .view-all{
    font-size: 0.8rem;
    color: gray;
    cursor: pointer;
    margin-left: 0.8rem;
}
.tickets-stack{
    padding: 1rem;
    position: relative;
}
.tickets-stack .ticket{
    position: absolute;
    border-radius: 7px;
    height: 7rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.4rem;
    padding: 0.4rem;
    color: white;
    font-weight: bold;
    letter-spacing: 1px;
}
.tickets-stack .ticket:nth-child(1){
    background-color: #4158D0;
    background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
    z-index: 10;
    width: 90%;
    bottom: 0;
}
.tickets-stack .ticket:nth-child(1):hover{
    transform: none;
    transition: none;
    box-shadow: none;
}
.tickets-stack .ticket:nth-child(2){
    background-color: #FBAB7E;
    background-image: linear-gradient(62deg, #FBAB7E 0%, #F7CE68 100%);
    bottom: 2rem;
    left: 22px;
    width: 85%;
    z-index: 9;
}
.tickets-stack .ticket:nth-child(3){
    background-color: #0093E9;
    background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
    bottom: 4rem;
    left: 36px;
    width: 80%;
    z-index: 8;
}
.tickets-stack .ticket:nth-child(4){
    background-color: #85FFBD;
    background-image: linear-gradient(45deg, #85FFBD 0%, #FFFB7D 100%);
    bottom: 6rem;
    left: 43px;
    width: 75%;
    z-index: 7;
}
.tickets-stack .ticket:nth-child(5){
    background-image: linear-gradient( 291.7deg,  rgba(255,134,134,1) 21.5%, rgba(249,141,255,1) 93.1% );
    bottom: 8rem;
    left: 49px;
    width: 70%;
    z-index: 6;
}
.tickets-stack .ticket:nth-child(6){
    background-image: linear-gradient( 109.6deg,  rgba(61,245,167,1) 11.2%, rgba(9,111,224,1) 91.1% );
    bottom: 10rem;
    left: 56px;
    width: 65%;
    z-index: 5;
}
.tickets-stack .ticket:hover{
    cursor: pointer;
    transform: translateY(-22px);
    transition: 0.6s;
    box-shadow: 0px -2px 5px 2px gray;
}
.diece{
    box-shadow: 0 0 5px 1px rgba(40,40,40,0.6);
    border-radius: 10px;
    aspect-ratio: 1/1;
    width: 3rem;
    cursor: pointer;
    background-color: orange;
}
.diece .text{
    color: white;
    font-size: 1.3rem;
    user-select: none;
}
.diece.in-progress{
    background-color: rgb(177, 176, 176) !important;
    transition: 1s;
    cursor: not-allowed;
}