.game-play{
    width: 100%;
    height: 100%;
}
.main-game-board{
    background-color: rgba(237, 237, 237, 0.734);
    height: 67vh;
    aspect-ratio: 1/1;
    position: relative;
}   
.main-game-board .block-row{
    position: absolute;
}
.main-game-board .block-row.top{
    top: -13.4vh;
}
.main-game-board .block-row.right{
    right: -13.5vh;
    top: -0px;
}
.main-game-board .block-row.left{
    left: -13.2vh;
    bottom: -0.5px;
}
.main-game-board .block-row.top > div:last-child{
    border-top-right-radius: 10px;
}
.main-game-board .block-row.right > div:last-child{
    border-bottom-left-radius: 10px;
}
.main-game-board .block-row.bottom > div:nth-child(1){
    border-bottom-left-radius: 10px;
}
.main-game-board .block-row.left > div:nth-child(1){
    border-bottom-left-radius: 10px;
}
.main-game-board .block-row.right .game-board-block{
    transform: rotate(-90deg);
}
.main-game-board .block-row.left .game-board-block{
    transform: rotate(90deg);
}
.main-game-board .block-row.bottom{
    bottom: -13.4vh;
    right: -1px;
}
.main-game-board .game-center-container{
    height: 100%;
    overflow: hidden;
}
.game-board-block{
    background-color: rgba(0, 128, 0, 0.453);
    height: 13.4vh;
    border: 1px solid gray;
    aspect-ratio: 1/1;
    padding: 0.4rem;
    overflow: hidden;
    cursor: pointer;
}

.piece{
    position: absolute;
    width: 20px;
    border-radius: 50%;
    aspect-ratio: 1/1;
    background-color: red;
}
.game-board-block .players-piece{
    padding: 3rem;
    position: absolute;
}
.game-board-block .players-piece.single{
    background-color: rgba(255, 166, 0, 0.311);
}
.game-board-block .players-piece.double{
    background-color: rgba(0, 128, 0, 0.53);
}
.game-board-block .players-piece.triple{
    background-color: rgba(128, 0, 128, 0.379);
}
.game-board-block .players-piece.triple .piece:nth-child(1){
    top: 40%;
    left: 10%;
}
.game-board-block .players-piece.triple .piece:nth-child(2){
    top: 40%;
    left: 40%;
}
.game-board-block .players-piece.triple .piece:nth-child(3){
    top: 40%;
    left: 70%;
}
.game-board-block .players-piece.single .piece{
    top: 43%;
    left: 40%;
}
.game-board-block .players-piece.double .piece:nth-child(1){
    left: 15%;
    top: 40%;
}
.game-board-block .players-piece.double .piece:nth-child(2){
    right: 15%;
    top: 40%;
}
.game-board-block.ticket{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.3rem;
}
.city-name{
    color: red;
}
.ticket-price{
    color: green;
    font-size: 0.9rem;
}
.bar{
    background-color: orange;
    width: 100%;
    height: 5px;
    border-radius: 10px;
    transform: rotate(-5deg);
}
.game-inner-container{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 0.8rem;
    gap: 1.35rem;
}
.game-instruction{
    background-color: rgba(255, 255, 255, 0.479);
    border-radius: 8px;
    padding: 0.4rem;
    box-shadow: 0 0 5px 1px rgba(150,150,150,0.2);
    aspect-ratio: 1/1;
    width: 46%;
    cursor: pointer;
}
.game-instruction > header{
    gap: 0.4rem;
}
.game-instruction > header > p{
    font-size: 0.8rem;
}